<div class="swiper-slide text-white after:content-[''] after:absolute after:w-[3px] after:top-0 after:bottom-0 after:-left-[165px] after:bg-lagoon">
    <div class="space-y-3 display:space-y-4">
        {{ block('content') }}
    </div>
</div>
