<div class="h-[471px] w-[300px] laptop:w-[347px] bg-midnight-950 text-white relative">
    <div class="text-[200px] laptop:text-[220px] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">{{ block('content') }}</div>
    <p class="absolute bottom-3 right-3">{{ calendar }}</p>
</div>