{% set color_map = {
    'midnight': {
        '50': 'bg-midnight-50',
        '100': 'bg-midnight-100',
        '200': 'bg-midnight-200',
        '300': 'bg-midnight-300',
        '400': 'bg-midnight-400',
        '500': 'bg-midnight-500',
        '600': 'bg-midnight-600',
        '700': 'bg-midnight-700',
        '800': 'bg-midnight-800', 
        '900': 'bg-midnight-900',
        '950': 'bg-midnight-950',
    },
    'lagoon': {
        '50': 'bg-lagoon-50',
        '100': 'bg-lagoon-100',
        '200': 'bg-lagoon-200',
        '300': 'bg-lagoon-300',
        '400': 'bg-lagoon-400',
        '500': 'bg-lagoon-500',
        '600': 'bg-lagoon-600',
        '700': 'bg-lagoon-700',
        '800': 'bg-lagoon-800', 
        '900': 'bg-lagoon-900',
        '950': 'bg-lagoon-950',
    },
    'mustard': {
        '50': 'bg-mustard-50',
        '100': 'bg-mustard-100',
        '200': 'bg-mustard-200',
        '300': 'bg-mustard-300',
        '400': 'bg-mustard-400',
        '500': 'bg-mustard-500',
        '600': 'bg-mustard-600',
        '700': 'bg-mustard-700',
        '800': 'bg-mustard-800', 
        '900': 'bg-mustard-900',
        '950': 'bg-mustard-950',
    },
    'coral': {
        '50': 'bg-coral-50',
        '100': 'bg-coral-100',
        '200': 'bg-coral-200',
        '300': 'bg-coral-300',
        '400': 'bg-coral-400',
        '500': 'bg-coral-500',
        '600': 'bg-coral-600',
        '700': 'bg-coral-700',
        '800': 'bg-coral-800', 
        '900': 'bg-coral-900',
        '950': 'bg-coral-950',
    }
} %}

<div class="{{ color_map[color][shade] }} {{ shade > 200 ? 'text-white' : 'text-black' }} h-20 flex justify-center items-center text-center"><p class="text-xs">{{ block('content') }}</p></div>